/target
BuildManifest.plist
Image.dmg
Image.dmg.trustcache
.DS_Store
*.pcap
idevice.h
plist.h
/ffi/examples/build
/.cache
/ffi/examples/.cache
.vscode
build
*.xcframework
bundle.zip
/swift/libs
/swift/include/*.h
/swift/.build
/swift/.swiftpm
