# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignTrailingComments: true
SortIncludes: CaseInsensitive
IncludeBlocks: Preserve
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: Never
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
BreakBeforeBinaryOperators: NonAssignment
ReflowComments: true
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AllowShortBlocksOnASingleLine: Never
MacroBlockBegin: "^#define"
MacroBlockEnd: "^#undef"
InsertBraces: true
